/*
Site Name: Mr. Fancy's Diner | Module 3 Coding Assignment
Author: Marcus Fessler
Version: 0.1
*/
/* PALLETTE
Black | rgba(15, 3, 20, 1)
Blue | rgba(139, 164, 208, 1)
Plum | rgba(227, 150, 223, 1)
Pink | rgba(227, 101, 193, 1)
Font1  | font-family: 'Fraunces', serif; 500/600i
Font2  | font-family: 'Open Sans', sans-serif; 300/600
*/
/*
GENERAL USAGE aka how you prioritize your styles
.class {
POSITTION
  t/b/l/r
  z-index
  flex
  float/clear
DISPLAY-opacity/transform
GRID
BOX MODEL OUT>IN
BACKGROUND
TEXT
  font style-size/family/weight/color
  decoration
  formatting
OTHER
}
/*MAIN SECTION================================================================*/
/*----Section Heading----*/
/*-Subsection-*/
/*comment*/
/*===============================END======================================*/
/*RESETING STYLES=============================================================*/
/*-Adjusting Global box-sizing-*/
* {
  box-sizing: border-box;
}
/*-Adjusting fonts-*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgba(15, 3, 20, 1);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-style: italic;
}
/*HEADER======================================================================*/
/*----Navbar----*/
.navbar {
    border-radius: none;
}
.navbar-default {
  background-color: rgba(227, 101, 193, 1);
  border: none;
  box-shadow: 0 2px 12px 2px rgba(158, 172, 179, 0.18);
}
.navbar-default .navbar-brand {
  height: 80px;
  color: rgba(15, 3, 20, 1);
}
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
/*MEDIA QUERIES===============================================================*/
/*----Extra small devices----*/
/*----Small devices----*/
/*----Medium devices----*/
