/*
Site Name: Mr. Fancy's Diner | Module 3 Coding Assignment
Author: Marcus Fessler
Version: 0.1
*/
/* PALLETTE
Black | rgba(15, 3, 20, 1)
Blue | rgba(139, 164, 208, 1)
Plum | rgba(227, 150, 223, 1)
Pink | rgba(227, 101, 193, 1)
Font1  | font-family: 'Fraunces', serif; 500/600i
Font2  | font-family: 'Open Sans', sans-serif; 300/600
*/
/*
GENERAL USAGE aka how you prioritize your styles
.class {
POSITTION
  t/b/l/r
  z-index
  flex
  float/clear
DISPLAY-opacity/transform
GRID
BOX MODEL OUT>IN
BACKGROUND
TEXT
  font style-size/family/weight/color
  decoration
  formatting
OTHER
}
/*MAIN SECTION================================================================*/
/*----Section Heading----*/
/*-Subsection-*/
/*comment*/
/*===============================END======================================*/
/*RESETING STYLES=============================================================*/
/*-Adjusting Global box-sizing-*/
* {
  box-sizing: border-box;
}

/*-Adjusting fonts-*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: rgba(15, 3, 20, 1);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-style: italic;
}

/*HEADER======================================================================*/
.navbar {
  border-radius: none;
}

.navbar-default {
  /*Styling actual bar in header*/
  background-color: rgba(227, 150, 223, 1);
  border: none;
  border-radius: none;
  box-shadow: 0 2px 12px 2px rgba(158, 172, 179, 0.18);
}

/*----Navbar----*/
#site-title {
  /*title/brand text*/
  padding-top: 4px;
}

.navbar-header .navbar-brand:hover {
  /*fix title color change on hover*/
  color: rgba(15, 3, 20, 1);
}

.navbar-default .navbar-brand {
  /*also target title/brand text*/
  height: 80px;
  color: rgba(15, 3, 20, 1);
}

.navbar-default .navbar-toggle {
  /*button border*/
  border-color: rgba(227, 101, 193, 1);
}

.navbar-default .navbar-toggle .icon-bar {
  /*hamburger icon*/
  background-color: rgba(227, 101, 193, 1);
}

.navbar-toggle {
  /*target button*/
  margin-top: 18px;
  margin-right: 24px;
  padding: 12px 9px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.navbar-default .navbar-toggle:hover {
  background-color: white;
}

.navbar>.container-fluid .navbar-brand {
  /*reducing space between brand title and screen-edge*/
  margin-left: 0;
}

/*----Navbar Dropdown----*/
.navbar-default .navbar-collapse {
  background-color: rgba(227, 101, 193, 1);
}

.navbar-default .navbar-nav {
  /*background-color: rgba(227, 101, 193, 1);*/
  text-transform: uppercase;
  text-align: center;
}

.navbar-default .navbar-nav > li > a {
  color: rgba(15, 3, 20, 1);
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}

/*MEDIA QUERIES===============================================================*/
/*----Extra small devices----*/
/*----Small devices----*/
/*----Medium devices----*/
